/* line 1, scss/style.scss */
.container {
  width: 100%;
}
/* line 6, scss/style.scss */
.container #carrousel {
  width: 90%;
  margin: 20px auto;
  position: relative;
  height: 350px;
  z-index: 9999;
  overflow: hidden;
}
/* line 15, scss/style.scss */
.container #carrousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  z-index: 8889;
}
/* line 28, scss/style.scss */
.container #carrousel .slides .slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}
/* line 43, scss/style.scss */
.container #carrousel .slides .slide .slide-image {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 64, scss/style.scss */
.container #carrousel .slides .slide.prev,
.container #carrousel .slides .slide.current,
.container #carrousel .slides .slide.next {
  top: 0;
}
/* line 77, scss/style.scss */
.container #carrousel .slides .slide.prev {
  z-index: 9999;
}
/* line 80, scss/style.scss */
.container #carrousel .slides .slide.current {
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 85, scss/style.scss */
.container #carrousel .slides .slide.next {
  z-index: 9999;
}
/* line 96, scss/style.scss */
.container #carrousel .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 99999;
}
/* line 103, scss/style.scss */
.container #carrousel .controls ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 109, scss/style.scss */
.container #carrousel .controls ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 115, scss/style.scss */
.container #carrousel .controls ul li a, .container #carrousel .controls ul li a:focus, .container #carrousel .controls ul li a:visited, .container #carrousel .controls ul li a:active {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 2px;
  padding: 2px 5px;
  text-decoration: none;
}
/* line 127, scss/style.scss */
.container #carrousel .wait {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
/* line 132, scss/style.scss */
.container #carrousel .wait p {
  text-align: center;
  top: 45%;
  position: absolute;
  width: 100%;
}
